.build
.cache
.DS_Store
.idea
.ninja_deps
.ninja_log
.vscode
*.a
*.bak
*.dll
*.dylib
*.mexmaci64
*.nav
*.o
*.obj
*.snm
*.zip
*~
/vs_*
bin
build
cmake-build-debug
doxygen/docs
lib
lib3rd
line_search_results.csv
src/Utils/3rd
ThirdParties/autodiff/autodiff
ThirdParties/Eigen/eigen-3.4.0
ThirdParties/spdlog/spdlog-1.15.3
tvd_test_results
Xcode
